body{
    margin: 0px;
}
.container{
    position: relative;
    height: 300px;
    width: 300px;
    background-color: gray;
}
.red{
    background-color: rgb(255, 0, 0);
    height: 100px;
    width: 100px;
    position: absolute;
    left: 200px;
    }
.blue{
    background-color: rgb(0, 0, 255);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 100px;
   

}
.green{
    background-color: rgb(0, 255, 0);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    
}